/* cyrillic-ext */
@font-face {
  font-family: 'UnileverShilling';
  font-style: normal;
  font-weight: 400;
  src: url(https://www.unileverbrandcentre.com/readimage.aspx/asset.ai?down=1&pubid=LKMtK_NkrRLylwCu7se7Zw) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
